<div class="footer bg-light mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <img src="path-to-logo.png" alt="Pertamina Logo" class="mb-3">
                <p>PT Pertamina (Persero) Refinery Unit VI Balongan<br />
                   Jl. Raya Balongan Km-9 Indramayu<br />
                   Telepon (0234) 42823
                </p>
            </div>
            <div class="col-md-2">
                <h6>Kebijakan Sistem Manajemen</h6>
                <ul class="list-unstyled">
                    <li>Kebijakan Mutu</li>
                    <li>Kebijakan HSSE</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6>RJPP</h6>
                <ul class="list-unstyled">
                    <li>RJPP RU VI 2013 - 2017</li>
                    <li>Roll Out RJPP RU VI 2013 - 2017</li>
                    <li>RJPP RU VI 2018 - 2025</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6>Sustainability Report</h6>
                <ul class="list-unstyled">
                    <li>Sustainability Report 2015</li>
                    <li>Sustainability Report 2016</li>
                    <li>Sustainability Report 2017</li>
                    <li>Sustainability Report 2018</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6>Daftar Penghargaan</h6>
                <ul class="list-unstyled">
                    <li>IGA (Indonesia Green Award)</li>
                    <li>Proper Emas</li>
                    <li>ISRB Level 7</li>
                    <li>ISO 9001 : 2015</li>
                    <li>ISO 14001 : 2015</li>
                    <li>ISO 45001 : 2018</li>
                    <li>Parita Nirbhaya Karya Utama Adi Nugraha IV</li>
                    <li>Operation PHA Management (Sphera Stature)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom bg-light text-muted py-2">
        <div class="container d-flex justify-content-between">
            <small>Copyright © 2018 - IT RU VI Balongan</small>
            <small>Corporate Shared Services<br />Telepon (0234) 525 6866</small>
        </div>
    </div>
</div>
