@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        * {
            @* border: 1px solid black; *@
        }
    </style>
</head>

<body>
    <div class="px-5 ">
        <NavMenu />
        <div class="d-flex">
            <div class="col-10 ps-3 pe-5">
                @Body
            </div>
            <div class="col-2">
                <SideMenu />
            </div>
        </div>
    </div>
</body>

</html>