@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        * {
            border: 1px solid white;
        }
    </style>
</head>

<body>
    <div class="p-5 bg-info">
        <NavMenu />
        <div class="d-flex">
            <div class="col-10">
                @Body
            </div>
            <div class="col-2 bg-white">
                <SideMenu />
            </div>
        </div>
    </div>
</body>

</html>