@* <nav class="navbar navbar-expand-md navbar-dark bg-danger mb-4"> 
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="@imageUrl" alt="Image RU VI"/>
        </a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav mb-2 mb-md-0 mx-5">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Profil
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Menu Utama
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Web Aplication
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav> *@

@* @page "/" *@
@* @using Microsoft.AspNetCore.Components.Web *@
@* @using Microsoft.AspNetCore.Components.Routing *@
@* @using Microsoft.AspNetCore.Components.WebAssembly.Authentication *@


<nav class="navbar navbar-expand-md navbar-dark bg-danger mb-4">
    <div class="container-fluid bg-danger">
        <a class="navbar-brand" href="#">
            <img src="@imageUrl" alt="Image RU VI">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0 mx-4">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/profile">
                        <span class="oi oi-plus" aria-hidden="true"></span> Profil
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="#">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Menu Utama
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/webapp">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Web Application
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/dashboard">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gilang Riyanto
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string imageUrl = "logopertamina.png";
} 



