/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-y8m823vmob] {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
  font-family: "Poppins", sans-serif;
}

main[b-y8m823vmob] {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*.sidebar {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
  width: 200px; /* Lebar sidebar, sesuaikan sesuai kebutuhan 
  background-color: blue; /* Warna latar belakang sidebar 
  color: white; /* Warna teks 
  display: flex;
  flex-direction: column; /* Mengatur item dalam kolom 
  padding: 20px; /* Padding dalam sidebar 
}*/

.top-row[b-y8m823vmob] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Mencegah elemen ini menyusut */
}

.top-row[b-y8m823vmob]  a,
.top-row[b-y8m823vmob]  .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

.top-row[b-y8m823vmob]  a:hover,
.top-row[b-y8m823vmob]  .btn-link:hover {
  text-decoration: underline;
}

.top-row[b-y8m823vmob]  a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.content[b-y8m823vmob] {
  flex: 1; /* Mengambil sisa ruang di main */
  overflow-y: auto; /* Jika konten melebihi tinggi, tambahkan scrollbar */
}

@media (max-width: 640.98px) {
  .top-row[b-y8m823vmob] {
    justify-content: space-between;
  }

  .top-row[b-y8m823vmob]  a,
  .top-row[b-y8m823vmob]  .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-y8m823vmob] {
    flex-direction: row;
  }

  .sidebar[b-y8m823vmob] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-y8m823vmob] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row.auth[b-y8m823vmob]  a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }

  .top-row[b-y8m823vmob],
  article[b-y8m823vmob] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-cvhkh149jr] {
  background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-cvhkh149jr] {
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-cvhkh149jr] {
  font-size: 1.1rem;
}

.bi[b-cvhkh149jr] {
  display: inline-block;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
  top: -1px;
  background-size: cover;
}

.bi-house-door-fill-nav-menu[b-cvhkh149jr] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-cvhkh149jr] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-cvhkh149jr] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-cvhkh149jr] {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-cvhkh149jr] {
  padding-top: 1rem;
}

.nav-item:last-of-type[b-cvhkh149jr] {
  padding-bottom: 1rem;
}

.nav-item[b-cvhkh149jr]  a {
  color: #d7d7d7;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
}

.nav-item[b-cvhkh149jr]  a.active {
  background-color: rgba(255, 255, 255, 0.37);
  color: white;
}

.nav-item[b-cvhkh149jr]  a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

ul.navbar-nav.mb-2.mb-md-0.mx-5[b-cvhkh149jr] {
  align-items: center;
  justify-content: center;
}

@media (min-width: 641px) {
  .navbar-toggler[b-cvhkh149jr] {
    display: none;
  }

  .collapse[b-cvhkh149jr] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }

  .nav-scrollable[b-cvhkh149jr] {
    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }
}
/* /Layout/SideMenu.razor.rz.scp.css */
.sidebar-content[b-60j33szu7j] {
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 20rem;
  height: max-content;
}

.sidebar-section[b-60j33szu7j] {
  margin-bottom: 20px;
}

.section-title[b-60j33szu7j] {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.announcement-list[b-60j33szu7j],
.important-contacts[b-60j33szu7j] {
  list-style: none;
  padding: 0;
  margin: 0;
}

.announcement-list li[b-60j33szu7j],
.important-contacts li[b-60j33szu7j] {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.announcement-list li a[b-60j33szu7j],
.important-contacts li span[b-60j33szu7j] {
  color: #333;
  text-decoration: none;
}

.btn-primary[b-60j33szu7j] {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.video-thumbnail[b-60j33szu7j] {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background: url("path/to/video_thumbnail.jpg") no-repeat center center;
  background-size: cover;
}

.play-button[b-60j33szu7j] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  padding: 10px;
  color: white;
  cursor: pointer;
}
/* /Pages/Home.razor.rz.scp.css */
.list-group-item[b-jem09xfzag] {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: grey;
}

/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.thread {
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.thread h2 {
  margin: 0 0 10px;
  font-size: 18px;
}

.thread p {
  margin: 0 0 10px;
  font-size: 16px;
}

.thread-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #888;
}

.more-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.more-button:hover {
  background-color: #0056b3;
} */
