/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-y8m823vmob] {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
  font-family: "Poppins", sans-serif;
}

main[b-y8m823vmob] {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*.sidebar {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
  width: 200px; /* Lebar sidebar, sesuaikan sesuai kebutuhan 
  background-color: blue; /* Warna latar belakang sidebar 
  color: white; /* Warna teks 
  display: flex;
  flex-direction: column; /* Mengatur item dalam kolom 
  padding: 20px; /* Padding dalam sidebar 
}*/

.top-row[b-y8m823vmob] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Mencegah elemen ini menyusut */
}

.top-row[b-y8m823vmob]  a,
.top-row[b-y8m823vmob]  .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

.top-row[b-y8m823vmob]  a:hover,
.top-row[b-y8m823vmob]  .btn-link:hover {
  text-decoration: underline;
}

.top-row[b-y8m823vmob]  a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.content[b-y8m823vmob] {
  flex: 1; /* Mengambil sisa ruang di main */
  overflow-y: auto; /* Jika konten melebihi tinggi, tambahkan scrollbar */
}

@media (max-width: 640.98px) {
  .top-row[b-y8m823vmob] {
    justify-content: space-between;
  }

  .top-row[b-y8m823vmob]  a,
  .top-row[b-y8m823vmob]  .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-y8m823vmob] {
    flex-direction: row;
  }

  .sidebar[b-y8m823vmob] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-y8m823vmob] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row.auth[b-y8m823vmob]  a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }

  .top-row[b-y8m823vmob],
  article[b-y8m823vmob] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
/* /Layout/SideMenu.razor.rz.scp.css */
.sidebar-content[b-60j33szu7j] {
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 20rem;
  height: max-content;
}

.sidebar-section[b-60j33szu7j] {
  margin-bottom: 20px;
}

.section-title[b-60j33szu7j] {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.announcement-list[b-60j33szu7j],
.important-contacts[b-60j33szu7j] {
  list-style: none;
  padding: 0;
  margin: 0;
}

.announcement-list li[b-60j33szu7j],
.important-contacts li[b-60j33szu7j] {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.announcement-list li a[b-60j33szu7j],
.important-contacts li span[b-60j33szu7j] {
  color: #a8db00;
  text-decoration: none;
}

.btn-primary[b-60j33szu7j] {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.video-thumbnail[b-60j33szu7j] {
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}

.play-button[b-60j33szu7j] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.profile-card[b-60j33szu7j] {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-image[b-60j33szu7j] {
  width: 100%;
  height: auto;
}

.profile-details[b-60j33szu7j] {
  text-align: center;
}

/* Custom CSS */
/* .sidebar-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-section .section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.announcement-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.announcement-list li {
  margin-bottom: 15px;
  font-size: 14px;
}

.announcement-list li .date {
  display: block;
  color: #808080;
  font-size: 12px;
}

.announcement-list li a {
  color: #a8db00; /* Green color */
/* text-decoration: none;
  font-size: 14px;
}

.announcement-list li a:hover {
  text-decoration: underline;
}

.btn-selengkapnya {
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-selengkapnya:hover {
  background-color: #0056b3;
} */
/* /Pages/Berita.razor.rz.scp.css */
.card-title[b-s9nymfvuqn] {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text[b-s9nymfvuqn] {
  font-size: 0.9rem;
}

.card-img[b-s9nymfvuqn] {
  object-fit: cover;
  height: 100%;
}
/* /Pages/Home.razor.rz.scp.css */
.list-group-item[b-jem09xfzag] {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: grey;
}

span[b-jem09xfzag] {
  color: blue;
}

/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.thread {
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.thread h2 {
  margin: 0 0 10px;
  font-size: 18px;
}

.thread p {
  margin: 0 0 10px;
  font-size: 16px;
}

.thread-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #888;
}

.more-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.more-button:hover {
  background-color: #0056b3;
} */
