@page "/berita"

<PageTitle>Berita</PageTitle>

<div class="">
    <h2 class="mb-4">BERITA TERKINI</h2>

    <div class="card news-card">
        <img src="https://via.placeholder.com/150" class="card-img-left" alt="News Image 1">
        <div class="card-body news-content">
            <h5 class="news-title">Pertamina Hulu Energi Raih Penghargaan Bisnis Berkelanjutan dari UN Global Compact 2024</h5>
            <p class="news-description">Pertamina RU IV Balongan berhasil mendapatkan penghargaan dengan memperoleh nilai terbesar dalam bidang ini dan itu <a href="#" class="read-more">baca selengkapnya...</a></p>
            <small class="text-muted">Malik Risaldi | 1 hari lalu</small>
        </div>
    </div>

    <div class="card news-card">
        <img src="https://via.placeholder.com/150" class="card-img-left" alt="News Image 2">
        <div class="card-body news-content">
            <h5 class="news-title">Dukung Penyediaan Energi Gas Bumi di IKN, PGN Salurkan Gas ke Hotel Nusantara</h5>
            <p class="news-description">Pertamina RU IV Balongan berhasil mendapatkan penghargaan dengan memperoleh nilai terbesar dalam bidang ini dan itu <a href="#" class="read-more">baca selengkapnya...</a></p>
            <small class="text-muted">Malik Risaldi | 1 hari lalu</small>
        </div>
    </div>

    <div class="card news-card">
        <img src="https://via.placeholder.com/150" class="card-img-left" alt="News Image 3">
        <div class="card-body news-content">
            <h5 class="news-title">Komisaris Utama Pertamina Apresiasi Inovasi Bioetanol Berbahan Sorgum</h5>
            <p class="news-description">Pertamina RU IV Balongan berhasil mendapatkan penghargaan dengan memperoleh nilai terbesar dalam bidang ini dan itu <a href="#" class="read-more">baca selengkapnya...</a></p>
            <small class="text-muted">Malik Risaldi | 1 hari lalu</small>
        </div>
    </div>
</div>