@page "/create-forum"

<div class="container mt-5">
    <h5 class="fw-bold">FORUM ADA APA DENGAN KITA/A2DK</h5>
    <div class="card mt-3 shadow">
        <div class="card-body">
            <h5>Ahmad Sanusi</h5>
            <div class="form-group">
                <div class="btn-toolbar mb-3">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-light"><i class="fas fa-bold"></i></button>
                        <button type="button" class="btn btn-light"><i class="fas fa-italic"></i></button>
                        <button type="button" class="btn btn-light"><i class="fas fa-underline"></i></button>
                    </div>
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-light"><i class="fas fa-align-left"></i></button>
                        <button type="button" class="btn btn-light"><i class="fas fa-align-center"></i></button>
                        <button type="button" class="btn btn-light"><i class="fas fa-align-right"></i></button>
                    </div>
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-light"><i class="fas fa-link"></i></button>
                        <button type="button" class="btn btn-light"><i class="fas fa-paperclip"></i></button>
                    </div>
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-light"><i class="fas fa-smile"></i></button>
                    </div>
                </div>

                <textarea class="form-control" rows="4" placeholder="Tulis yang anda pikirkan..."></textarea>
            </div>

            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-primary">
                    <i class="fas fa-plus"></i> Create New Thread
                </button>
            </div>
        </div>
    </div>
</div>
