@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores, voluptatibus amet possimus aut natus adipisci explicabo. Asperiores libero exercitationem eum optio in. Praesentium, doloremque odit expedita libero minus fugiat.</p>
<img src="logopertamina.png" alt="ebet">
Welcome to your new app.
